<div class="container">
  <h2>🏫 NR High School - Add Student Details</h2>
 <!-- Tab Navigation -->
 <mat-tab-group [selectedIndex]="selectedTab" (selectedIndexChange)="onTabChange($event)">
  <mat-tab label="Personal Info"></mat-tab>
  <mat-tab label="Address"></mat-tab>
  <mat-tab label="Grade & Academic"></mat-tab>
  <mat-tab label="Previous Education"></mat-tab>
  <!-- <mat-tab label="Reports"></mat-tab> -->
</mat-tab-group>
</div>
<div>
  <div class="tab-content">
    <router-outlet></router-outlet>
  </div>
</div> 
